@media(max-width:576px) {
    .main .index .header{
        display: none;
    }
    .main .index .togglebtn{
        display: block;
    }
    .main .index .newheader{
        display: flex;
        flex-direction: column;
    }
    .main .index .newheader .ul{
        display: flex;
        flex-direction: column;
    }
    /* .imagepart .image1{
        position: fixed;
        top: 0;
        padding-top: 100px;
    } */
    .imagepart .text{
        position: absolute;
        top: 355px; 
        left: 130px;
        font-size: 15px;
    }
    .index2 h2{
        margin-left: 225px;
    }
    .index2 .p1{
        margin: 23px 194px;
    }
    .index3 .image2{
        width: 225px;
    }
    .index4 .work .workdiv1{
        gap: 8px;
    }
    .index4 .work .workdiv2 .portfoliotext{
        left: 170px;
    }
    .index5 .imageGallery {
        grid-template-columns: repeat(3,1fr);
    }
    .index5 .imageGallery .gallery{
        width: 175px;            
    }
    .index5 .Contactimg .contactimage .contact_text {
        left: 235px;
    }
    .index6 .details .map .mapimg {
        height: 135px;
        width: 220px;
    }
    .index6 .details .details1{
        grid-template-columns: repeat(1,1fr);
    }
    .index6 .details1 .input1 {
        width: 230px;
        margin-bottom: 5px;
    }
    .index6 .details1 .input2 {
        width: 230px;
    }
}